html{

    height:100%;
	background: url('img/loginback.jpg')  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}

h1.e404{

    text-align:center;
    font-size:2.5em;

}

html.e404{

    height:100%;
	background: url('img/404.jpg')  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


#content-wrapper{

    min-height:100%;
}

.sidebar.hidden{

    display:none;

}

.sidebar ul{


    padding:20px;
    list-style-type:none;

}

.sidebar ul li i{

    font-size:25px;
    padding-right:10px;
}

.sidebar ul li{

    line-height:25px;
    vertical-align:middle;
    padding-bottom:10px;
    padding-top:10px;
    border-bottom: 2px rgba(12,12,12,0.7)  groove;
}

i{

    padding:0px 3px;

}

.main-content *{
    color:inherit;
}

.main-content{

    float:right;
    height:auto;
    min-height:100%;
    color:#3f3f3f;
}

a{

    color:inherit

}

a:hover{
    text-decoration:none;
    color:inherit;
}

#bs-example-navbar-collapse-1 .nav>li>a{

    color:white;

}

.sidebar .sidebar-content{
    background:#066699;
    width:16%;
    position:fixed;
}

.sidebar{

    height:100%;
    min-height:100%;
    color:white;

}


.navbar-brand{

    color:white;

}

#loginjumbo{

	 margin: 50px auto;
	 padding: 0px;
	 border-radius: 0px;
    overflow:auto;

}

.bold{

    font-weight:bold;
}

p.bold{
    margin-top:20px;
    margin-bottom:0px;
}


.generic-form{

    background:white;
    border-radius: 10px;
    padding: 20px;
    margin: ;argin-top: 30px;
    padding-top: 20px;
    color: #3f3f3f;
    overflow:auto;
}

#loginjumbo form{

    overflow:auto;


	 border-radius: 0px;


}


#loginjumbo .form-group{

	padding: 0px 20px;
	margin-bottom: 30px;

}



.generic-form .form-group input.field{

	width: 80%;
	margin: 20px auto;
	display: block;
	height: 40px;
	border: none;
	font-size: 20px;
	border-bottom:2px solid #2b2b2b;
	background: white;

}

input[type="submit"]{
    font-weight:200;
    color:white;
}

.generic-form .form-group textarea.field{

	max-width: 100%;
	min-width: 100%;
	resize: vertical;
	margin: 20px auto;
	display: block;
	border: none;
	border-bottom:2px solid #2b2b2b;
	background: white;

}

header{
    position:fixed;
    width:100%;
    z-index:2;
}

.content .container{

    height:100%;

}

.content{

    overflow:auto;
    padding-top:52px;
    height:100%;

}

#loginjumbo .form-group input.field{

	width: 100%;
	margin: 0px auto;
	display: block;
	height: 50px;
	border: none;
	font-size: 25px;
	border-bottom:2px solid #2b2b2b;
	background: rgba(30,30,30,0.1);




}

.submit .submit{

    display:inline;

}
.form-group input.submit{

    overflow:auto;
	border-radius: 0px;
	display: inline;
	font-size: 30px;

}

.form-group.submit{

	width: 100%;
	padding: 0px;
    margin:0px;
    display: block;
	height: 40px;

}

.navbar{
    margin-bottom:0px;
}

.jumbotron .top-label-jumbo{

	width: 100%;
	font-weight: 400;
	padding: 10px 0px;
    background: #FFFFFF;
    text-align: center;
	font-size: 40px;
	line-height: 50px;

}

#gotosignup{

    width:150px;
    display:block;
    margin:0 auto;
    margin-bottom:20px;
}

.btn{

    border-radius: 0px;
    display: block;
    font-size: 20px !important;

}

#login-btn{

    display:block;
    margin: 0 auto;

}

body{

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMzElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 30%, rgba(0,0,0,0.01) 31%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,rgba(0,0,0,0)), color-stop(31%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.01) 31%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.01) 31%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.01) 31%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.01) 31%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

height: 100%;

}


