<!DOCTYPE html>
<html class="{% block html-customs  %}{% endblock  %}"  lang="en">
<head>
	<title>{% block title %}Hey! Sponsors{% endblock %}</title>
	{%block imports%}<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% load staticfiles %}
<link href="{% static "sponsorsManager/style.css" %}" rel="stylesheet">
{% endblock %}
</head>

<body>
	<header>
		<nav id="heynav" class="navbar navbar-inverse" role="navigation">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/home">Hey Sponsors</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                {% block nav_actual %}{% endblock %}

		       <ul class="nav navbar-nav navbar-right">

		       </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>
    <div class="content">
        <div class="container">
            <div class="col-md-1"></div>
            <div id="content-wrapper"  class="col-md-10">
                 <div class="sidebar col-md-3">
                    <div class="{% block sidebar-customs  %}{% endblock  %}  sidebar-content">
                    <ul>
                        <li><i class="fa fa-search"></i><a href="/sponsors">Sponsors</a></li>
                        <li><i class="fa fa-calendar"></i><a href="/{{user}}/events">My Events</a></li>
                        <li><i class="fa {% block settings-customs  %}{% endblock  %}  fa-cog"></i><a href="/{{user}}/edit">My Settings</a></li>
                        <li><i class="fa fa-clock-o"></i><a href="/{{user}}/history"  >My History</a></i></li>
                    </ul>
                </div>
                </div>
            <div class="col-md-9  main-content">
             {% block content %}{% endblock %}
         </div>
     </div>
            <div class="col-md-1"></div>
         </div>
</div>
<footer>
    {% block footer%}{% endblock %}
</footer>
</body>
</html>
