{% extends "base_generic.html" %}


{% block title %}Hey! sponsors{% endblock %}
{% block actual %}Sign up{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="addevent">
<h1> <i class="fa fa-plus"></i> {% block form_title %}{% endblock %}</h1>
{% if success_message  %}
    <div class="alert alert-success">{{ success_message }}</div>
{% endif  %}
<form method="post" action="">{% csrf_token %}
					{% for form in forms %}
					{% if form.errors %}
                    {% for error in form.non_field_errors %}
					<div class="alert alert-danger">
						<strong>{{ error|escape }}</strong>
					</div>
					{% endfor %}
					{% endif %}

                    {% for field in form %}
					<div class="form-group">
                    {% if form.errors  %}
					{% for error in field.errors %}
					<div class="alert alert-danger">
						<strong>{{ error|escape }}</strong>
					</div>
                    {% endfor %}
                    {% endif  %}
                    {% with pholder="placeholder:"|add:field.name.capitalize %}
										{% if 'Password' in pholder %}
											{% with pholder="placeholder:Password" %}

												{{ field|add_class:"field"|attr:pholder}}

											{% endwith%}
										{% elif 'First_name' in pholder %}
											{% with pholder="placeholder:First name" %}
												
												{{ field|add_class:"field"|attr:pholder}}
												
											{% endwith%}
										{% elif 'Last_name' in pholder %}
											{% with pholder="placeholder:First name" %}
												
												{{ field|add_class:"field"|attr:pholder}}
												
											{% endwith%}
										{% else %}

											{{ field|add_class:"field"|attr:pholder}}
										{% endif %}
					            	{% endwith%}
					            </div>
					{% endfor %}
				{% endfor %}
					<div class="form-group submit">
						<input class="btn btn-success submit" type="submit" name='insert' value='{% block form_button_submit %}{% endblock %}'>
					{% block erasable %}
					</div>
					{% endblock %}
				</form>
</div>

{% endblock %}
