{% extends "base_generic.html" %}

{% block title %}Login{% endblock %}
{% block actual %}Login{% endblock %}

{% block imports %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% load staticfiles %}
<link href="{% static "sponsorsManager/style.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container vertical-cont" id="login-container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5"></div>
		<div class="col-md-5">
		
				<div class="jumbotron" id="loginjumbo" >
				  <h1>Hello, world!</h1>
				  <p>...</p>
				  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
				</div>
		
		</div>
		<div class="col-md-1"></div>
		
	</div>
</div>
	
{% endblock %}
