{% extends "base_generic.html" %}
{% block nav_actual %}
	<ul class="nav navbar-nav">
	    <li class=""><a href="/{{user}}">Profile</a></li>
	    <li class=""><a href="/logout">Logout</a></li>
	</ul>
{% endblock %}
{% block html-customs  %}logged-in{% endblock  %}

{% block title %}Hey! sponsors{% endblock %}
{% block actual %}Welcome!{% endblock %}

{% block content %}
<div class="generic-form">
	<h3>Hello! {{user}}</h3>
	{% if user.Events.count > 0 %}
	<h4>Your events:</h4>
    <a class="btn btn-default"  href="/{{user}}/events/add_event/"><i class="fa fa-plus"></i>Add Event</a>
    <table class="table">
        <thead><tr><th>Events</th><th></th><th>Needs</th><th></th><th>Sponsorships</th></tr></thead>
	{% for event in user.Events.all %}
	<tr {%if not event.active %}style="color: red"{%endif%}{%if event.finished %}style="color: green"{%endif%}>

		<td><a href="/events/{{event.id}}">{{event}}</a></td>
		<td></td>
		<td><a href="/events/{{event.id}}/needs">Needs from {{event}}</a></td>
		<td></td>
		<td><a href="/events/{{event.id}}/sponsorships">Sponsorships of {{event}}</a></td>

	</tr>
	{% endfor %}
	{% endif %}
    </table>

</div>
{% endblock %}

