{% extends "sponsorsManager/forms.html" %}
{% block nav_actual %}
	<ul class="nav navbar-nav">
	    <li class="active"><a href="/{{user}}">Profile</a></li>
	</ul>
{% endblock %}

{% block form_title%}
Needs
{% endblock %}
{% block form_button_submit %}
Add Need
{% endblock %}
{% block buttons %}
<div class="form-group submit">
	<input class="btn btn-success submit" type="button" value='Back' onClick="javascript:history.go(-1)">
	{% if event.active and not event.finished%}
	<input class="btn btn-success submit" type="submit" name='update' value='Update need'>
	<input class="btn btn-danger submit " type="submit" name='delete' value='Delete need'>
	{%endif%}
</div>

{% endblock %}
