{% extends "base_generic.html" %}
{% block html-customs  %}logged-in{% endblock  %}
{% block nav_actual %}
	<ul class="nav navbar-nav">
	    <li class=""><a href="/{{user}}">Profile</a></li>
	    <li class=""><a href="/events">My events</a></li>
	    <li class=""><a href="/logout">Logout</a></li>
	</ul>
{% endblock %}

{% block title %}Hey! sponsors{% endblock %}
{% block actual %}Welcome!{% endblock %}

{% block content %}
	<h1>Hello {{user}}!</h1>
	<a href="./edit"><h1>Edit profile</h1></a>
	
	<a href="/events"><h1>Events</h1></a>

    <a class="btn btn-default"  href="/events"><h4><i class="fa fa-calendar"  ></i>Go to my events</h4></a>
</div>
{% endblock %}

