{% extends "base_generic.html" %}
{% block html-customs  %}logged-in{% endblock  %}
{% block nav_actual %}
	<ul class="nav navbar-nav">
	    <li class=""><a href="/{{user}}">Profile</a></li>
	    <li class=""><a href="/my_events">My events</a></li>
	    <li class=""><a href="/logout">Logout</a></li>
	</ul>
{% endblock %}

{% block title %}Hey! sponsors{% endblock %}
{% block actual %}Welcome!{% endblock %}

{% block content %}
    <div class="generic-form">
        	<h1>Hello {{user|title}}!</h1>
    {% for current_event in events %}
    <h1>Evento: {{current_event.name}}</h1>
    <h1>Fecha: {{current_event.date}}</h1>
    <h1>Mapa: {{current_event.link_map}}</h1>

    {% endfor %}
    </div>
</div>
{% endblock %}

