{% extends "sponsorsManager/forms.html" %}
{% block nav_actual %}
	<ul class="nav navbar-nav">
	    <li class=""><a href="/signup">Sign up</a></li>
	    <li class=""><a href="/login">Log in</a></li>
	</ul>
{% endblock %}
{% block sidebar-customs  %}hidden{% endblock  %}
{% block form_title %}
Join this community!
<h1>{{error_message}}</h1>
{% endblock %}
{% block buttons %}
<div class="form-group submit">
	<input class="btn btn-success submit" type="submit" name='insert' value='Sign up'>
</div>
{% endblock %}
