{% extends "sponsorsManager/forms.html" %}
{% block nav_actual %}
	<ul class="nav navbar-nav">
	    <li class="active"><a href="/{{user}}">Profile</a></li>
	</ul>
{% endblock %}

{% block form_title%}
Change this for different situations
{% endblock %}
{% block form_button_submit %}
Add event
{% endblock %}
{% block buttons %}
<div class="form-group submit">
	<input class="btn btn-success submit" type="button" value='Back' onClick="javascript:history.go(-1)">
{%if event.active and sponsorship.active and not event.finished and not sponsorship.finished%}
	<input class="btn btn-success submit" type="submit" name='update' value='Update'>
{%endif%}
</div>
{% endblock %}
